# =========================
# FRONTEND
# =========================

frontend/node_modules
frontend/dist

# =========================
# BACKEND
# =========================

backend/venv/
__pycache__/
*.pyc

# =========================
# SISTEMA OPERACIONAL
# =========================

.DS_Store
Thumbs.db

# =========================
# VS CODE
# =========================

.vscode