.about-section {
    padding: var(--section-padding);

    background-color: var(--color-background);
}

.about-container {
    text-align: center;
}

.about-container h2 {
    font-size: var(--font-size-3xl);

    color: var(--color-primary);

    margin-bottom: var(--space-lg);
}

.about-containe p {
    max-width: 760px;

    margin:0auto;

    font-size: var(--font-size-lg);

    line-height: 1.8;

    color: var(--caolor-text);
}