.hero-section {
    height: 80vh;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: var(--section-padding);

    background-color: var(--color-primary);
    color: var(--color-white);
    
    text-align: center;
}

.hero-content {
    width: 100%;
    max-width: var(--container-width);
}

.hero-content h1 {
    font-size: var(--font-size-4xl);
    margin-bottom: var(--space-md);
}

.hero-content p {
    font-size: var(--font-size-xl);
    margin-bottom: var(--space-lg);
}

.hero-button {
    display: inline-block;

    padding: var(--space-sm) var(--space-lg);

    border: none;
    border-radius: 8px;

    background-color: var(--color-secondary);
    color: var(--color-primary);

    font-size: var(--font-size-base);
    font-weight: bold;

    text-decoration: none;

    cursor:pointer;
    transition: 0.3s;
}

.hero-content button:hover {
    opacity: 0.85;
}

.hero-logo {
    width: 220px;
    height: 220px;
    object-fit: contain;
    margin-bottom: var(--space-lg);

    opacity: 1;
    filter: none;
}

@media (max-width: 768px) {
    .hero-section {
        min-height: 70vh;
    }

    .hero-logo{
        width: 160px;
        height: 160px;
    }
 
    .hero-content h1 {
        font-size: var(--font-size-3xl);

        line-height: 1.2;
    }
    .hero-content p {
        font-size: var(--font-size-lg);
    }
    .hero-content button {
        width: 100%;

        max-width: 280px;
    }
}
