.navbar {
    background-color: var(--color-primary);
}

.navbar-container {
    position: relative;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: var(--space-md);
}

.navbar-logo {
    color: var(--color-secondary);
    font-size: var(--font-size-2xl);
}

.navbar-toggle {
    display: none;

    background: transparent;
    border: none;

    color: var(--color-white);

    font-size: 1.75rem;
    cursor: pointer;
}

.navbar-menu {
    display: flex;
    gap: var(--space-md);
}

.navbar-menu a {
    color: var(--color-white);

    text-decoration: none;

    font-size: var(--font-size-base);
    font-weight: 600;

    transition: 0.3s;
}

.navbar-menu a:hover {
    color: var(--color-secondary);
}

@media (max-width: 768px) {
    .navbar-logo {
        font-size: var(--font-size-xl);
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-menu {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;

        display: none;
        flex-direction: column;

        gap: 0;

        background-color: var(--color-primary);

        padding: var(--space-sm) var(--space-md);

        z-index: 1000;
    }

    .navbar-menu-open {
        display: flex;
    }

    .navbar-menu a {
        padding: var(--space-sm) 0;

        font-size: var(--font-size-base);
    }
}